.gradle/
build/
captures/
.externalNativeBuild/
.idea/
.cxx/

.DS_Store
local.properties
output.json
google-services.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.log
*.apk
*.iml
*.jks
*.keystore
*.hprof
